참고 : https://www.kaggle.com/venky73/usa-vs-india-working-professionals
       https://www.kaggle.com/j2hoon85/plotly-tutorial-for-kaggle-survey-competitions

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import seaborn as sns

#df = pd.read_csv("C:/Users/rudal/kaggle_survey_2021_responses.csv",low_memory=False)
df = pd.read_csv("D:/_Bdata/Codding-base-Python/Python/Python-jupyter/Kaggle Survey - 2021 Analysis - Plotly/kaggle_survey_2021_responses.csv")

df.sample(5)

colors = ['rebeccapurple','steelblue','darktyrquoise','tyrquoise','yellowgreen','#9C009C']

D:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,195,201,285,286,287,288,289,290,291,292) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df.shape

(25974, 369)

In [3]:
print(df)

      Time from Start to Finish (seconds)                           Q1  \
0                   Duration (in seconds)  What is your age (# years)?
1                                     910                        50-54
2                                     784                        50-54
3                                     924                        22-24
4                                     575                        45-49
...                                   ...                          ...
25969                                1756                        30-34
25970                                 253                        22-24
25971                                 494                        50-54
25972                                 277                        45-49
25973                                 255                        18-21

                                           Q2  \
0      What is your gender? - Selected Choice
1                                         Man
2                                         Man
3                                         Man
4                                         Man
...                                       ...
25969                                     Man
25970                                     Man
25971                                     Man
25972                                     Man
25973                                     Man

                                              Q3  \
0      In which country do you currently reside?
1                                          India
2                                      Indonesia
3                                       Pakistan
4                                         Mexico
...                                          ...
25969                                      Egypt
25970                                      China
25971                                     Sweden
25972                   United States of America
25973                                      India

                                                      Q4  \
0      What is the highest level of formal education ...
1                                      Bachelor’s degree
2                                        Master’s degree
3                                        Master’s degree
4                                        Doctoral degree
...                                                  ...
25969                                  Bachelor’s degree
25970                                    Master’s degree
25971                                    Doctoral degree
25972                                    Master’s degree
25973                                  Bachelor’s degree

                                                      Q5  \
0      Select the title most similar to your current ...
1                                                  Other
2                                Program/Project Manager
3                                      Software Engineer
4                                     Research Scientist
...                                                  ...
25969                                       Data Analyst
25970                                            Student
25971                                 Research Scientist
25972                                     Data Scientist
25973                                   Business Analyst

                                                      Q6  \
0      For how many years have you been writing code ...
1                                             5-10 years
2                                              20+ years
3                                              1-3 years
4                                              20+ years
...                                                  ...
25969                                          1-3 years
25970                                          1-3 years
25971                          I have never written code
25972                                         5-10 years
25973                          I have never written code

                                               Q7_Part_1  \
0      What programming languages do you use on a reg...
1                                                 Python
2                                                    NaN
3                                                 Python
4                                                 Python
...                                                  ...
25969                                             Python
25970                                             Python
25971                                                NaN
25972                                             Python
25973                                                NaN

                                               Q7_Part_2  \
0      What programming languages do you use on a reg...
1                                                      R
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                               Q7_Part_3  ...  \
0      What programming languages do you use on a reg...  ...
1                                                    NaN  ...
2                                                    SQL  ...
3                                                    NaN  ...
4                                                    NaN  ...
...                                                  ...  ...
25969                                                SQL  ...
25970                                                NaN  ...
25971                                                NaN  ...
25972                                                SQL  ...
25973                                                NaN  ...

                                            Q38_B_Part_3  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_4  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_5  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                           TensorBoard
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_6  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_7  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_8  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                            Q38_B_Part_9  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                           Q38_B_Part_10  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

                                           Q38_B_Part_11  \
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                   None
3                                                    NaN
4                                                   None
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                               None
25972                                                NaN
25973                                               None

                                             Q38_B_OTHER
0      In the next 2 years, do you hope to become mor...
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
...                                                  ...
25969                                                NaN
25970                                                NaN
25971                                                NaN
25972                                                NaN
25973                                                NaN

[25974 rows x 369 columns]

In [4]:
fig_j = go.Figure(data=[go.Pie(labels=df_Jp['Q2'][1:].value_counts().index, 
                               values=df_Jp['Q2'][1:].value_counts().values,
#                               pull=[0,0,0.4,0.8,0.8],
                               textinfo ='label,percent',
                               title='Japan',
                               hole=0.3)])

fig_j.update_traces(marker=dict(colors=colors[1:]))
fig_j.update_layout(title_text='Gender')


fig_c = go.Figure(data=[go.Pie(labels=df_Ch['Q2'][1:].value_counts().index, 
                               values=df_Ch['Q2'][1:].value_counts().values,
#                               pull=[0,0,0.4,0.8,0.8],
                               textinfo ='label,percent',
                               title='China',
                               hole=0.3)])

fig_c.update_traces(marker=dict(colors=colors[1:]))
fig_c.update_layout(title_text='Gender')


fig_j.show()
fig_c.show()

NameError: name 'df_Jp' is not defined

In [ ]:
df_Jp_sortAge = df_Jp['Q1'].value_counts().sort_index()
df_Ch_sortAge = df_Ch['Q1'].value_counts().sort_index()

In [ ]:
fig = go.Figure(data=[go.Bar(name='Japan', 
                             x=df_Jp_sortAge.index, 
                             y=df_Jp_sortAge.values,
                             marker_color = colors[1]
                             ),
                      go.Bar(name='China', 
                             x=df_Ch_sortAge.index, 
                             y=df_Ch_sortAge.values,
                             marker_color = colors[0])])

fig.update_layout(title='Age: Japan & China',
                 xaxis_title="Age", yaxis_title='Counts')

fig.show()